
body {
    display: block;
    flex-direction: column;
    background-color: #e42363;
    margin: 20px 120px;
    max-width: fit-content;  
    font-family: Arial, Helvetica, sans-serif;  
}
.title-cart a {
    text-decoration: none;
    color: none;
    
}
h1 {
    background-color: #b20941fc;
    color: white;
    margin: 0 5px;
   font-size: 40px;
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif; 
}
hr {
    margin-top: 0;
}
p{
    color: black;
    font-size: 13px;
}
.header-container {
       background-color: white;
       text-align: center;
       margin-bottom: 40px;
} 
.div-container {
    display: flex;
    flex-direction: column;
    background-color:#b20941fc;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
;
}
.h2-div {
    font-size: 30px;
    margin: 40px 10px;
}
.cart-1 {
    background-color: white;
    border-radius: 8px;
    margin: 0 15px 15px;
    padding: 10px;
}
.title-cart {
    color: #d51b59fc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: end;
    margin-bottom: 0;
}
.cart-1 img {
display: flex;
align-items: center;
width: 100%;
}
.btn-pay {
  text-align: center;
background-color: #2c8f20;
color: white;
font-size: 20px;
border-radius: 5px;
border: 0;
padding: 10px;
margin: 0 50%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cart-2 {
    background-color: white;
    border-radius: 8px;
    margin: 15px 15px;
    padding: 10px;
}
/*.cart-2 p {
    color: #b30202;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: end;
    margin-bottom: 0;
}*/
.cart-2 img {
display: flex;
align-items: center;
width: 100%;
}
